/*-----------*\
*
* BASE STYLES 
*
\*-----------*/

* {
  box-sizing: border-box;
}



@font-face {
  font-family: 'Littledays';
  src: url('assets/LittleDays-3168.ttf')
}



body {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5vh;
  font-weight: 600;
  background-color: #dfdfdf;
}





/*----------*\
*
*   LAYOUT
*
\*----------*/


/*==== HEADER STYLES ====*/

header {
  width: 100vw;
  height: 100vh;
  background: url('assets/miroslava-mTtuQIrDZMg-unsplash.jpg') no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}



@media (max-width: 1024px) {
  header {
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('assets/miroslava-mTtuQIrDZMg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
  }
}





/* Top navigation */

nav {
  position: absolute;
  top: 5vh;
}



@media (min-width: 1200px) {
  nav {
    margin-left: 3vw;
  }
}



@media (max-width: 1024px) {
  nav {
    align-self: center;
  }
}





/*==== MAIN CONTENT STYLES ====*/

/* 1. Intro box */

main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}



@media (max-width: 1024px) {
  main {
    width: 95%;
  }
}





.intro {
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
  }
}



.box1 {
  width: 35%;
  height: auto;
  background-color: #c6b7a7;
  border-radius: 30px;
  padding: 1.5rem;
}



@media (max-width: 1024px) {
  .box1 {
    width: 100%;
    order: 1;  
    margin-bottom: 10vh;
  }
}





/* 2. Price table */

.price-table {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}



@media (min-width: 1200px) {
  .price-table {
    flex-direction: row;
    margin-bottom: 10vh;
  }
}





.xmas, .party {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}



.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@media (min-width: 1200px) {
  .list {
    justify-content: space-around;
  }
}





.price ul:last-child {
  margin-bottom: 7vh;
}


@media (min-width: 1200px) {
  .price ul:last-child {
    margin-bottom: 0;
  }
}





/*4. Slideshow gallery styles */

.gallery {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}



@media (min-width: 1200px) {
  .gallery {
    max-width: 70%;
  }
}





/* 5. Info and feedback box */

/* About me */

.info-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}



.about {
  margin-bottom: 7vh;
}



@media (min-width: 1200px) {
  .info-box {
    flex-direction: row;
    justify-content: space-around;
  } 
  
  .about {
    width: 40%;
    margin-bottom: 0;
  }
}





/* Feedback box */

.feedback {
  display: flex;
  flex-direction: column;
}



.fb-box {
  height: 50vh;
  overflow: auto;
  padding: 1rem;
}




@media (max-width: 1024px) {
  .fb-box {
    display: none;
  }
}




@media (min-width: 768px) {
  .fb-box {
    width: 60%;
  }
}




@media (min-width: 1200px) {
  .feedback {
    width: 30%;
  }
  
  .fb-box {
    width: 100%;
  }
}




@media (min-width: 1200px) {
  .fb-toggle {
    pointer-events: none;
  }
}




.item {
  background-color: #C6B7A7;
  padding: .8rem;
  margin-bottom: 5vh;
  border-radius: 10px;
}




.last {
  margin-bottom: 0;
}






/* 6. Contact box */

.contact {
  margin-bottom: 10vh;
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (min-width: 1200px) {
  .contact-box {
    flex-direction: row;
    justify-content: center;
  }
}



.email, .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (min-width: 1200px) {
  .email, .phone {
    width: 50%;
  }
}





/*==== FOOTER STYLES ====*/

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(198, 183, 167, .8);
  color: #dfdfdf; 
  padding: .5rem;
}






/*------------*\
*
*  TYPOGRAPHY
*
\*------------*/

h1 {
  font-family: 'Littledays';
  font-size: 10vh;
  line-height: 1.1;
}



h2 {
  font-size: 3vh;
  line-height: 2;
}



h1, h2 {
  margin-left: 5vw;
  color: #453428;
}



@media (max-width: 1024px) {
  h1, h2 {
    text-align: center;
    color: #dfdfdf;
    margin-left: 0;    
  }
  
  h1 {
    font-size: 8vh;
  }
}





h3 {
  font-size: 8vh;
  line-height: 1.1;
  color: #dfdfdf;
}



@media (max-width: 1024px) {
  h3 {
    text-align: center;
    font-size: 6vh;
  }
}




h4 {
  font-family: 'Littledays';
  font-size: 6vh;
  color: #ab7d4b;
  margin-bottom: 1rem;
  text-align: center;
}



p {
  line-height: 1.2;
  margin-top: 1rem;
  text-align: justify;
  color: #453428;
}





/*==== Top navigation text styles ====*/

nav a {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 2.5vh;
  padding: 1rem;
}



@media (min-width: 1200px) {
  nav a {
    font-size: 3vh;
    color: #453428;
  }
}




/*==== Feedback text styles ====*/

.item p {
  font-style: italic;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
  color: #dfdfdf;
}



.name {
  font-weight: 500;
}





/*==== Contact text styles ====*/

.contact i {
  font-size: 10vh;
  color: #453428;
}



.contact p {
  font-size: 4vh;
  color: #ab7d4b;
}



.contact h4 {
  margin-bottom: 5vh;
}




/*==== Footer text styles ====*/

footer p {
  margin: 0;
  text-align: center;
  margin-bottom: .5rem;
  font-size: 2vh;
}



footer a {
  text-decoration: none;
  color: #453428;
  font-size: 2vh;
}


footer a:hover {
  color: #dfdfdf;
  font-weight: 800;
}





/*==== Text decoration ====*/

/* Navigation hover */

.with-hover {
 position: relative;
}



.with-hover::after {
  content: "";
  width: 0%;
  height: 7px;
  background: #dfdfdf;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}



@media (min-width: 1200px) {
  .with-hover::after {
    background: #453428;
  }
}

.with-hover:hover::after {
  left: 0%;
  width: 100%;
}





/* Divider styles */

hr {
  width: 70%;
  height: 1px;
  border: 0;
  margin-bottom: 10vh;
  background-image: linear-gradient(to right, rgba(198, 183, 167, 78), rgba(171, 125, 75, 67), rgba(198, 183, 167, 78));
}





/* List styles */

li {
  padding: 1rem;
  padding-left: 0;
}



.price {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
}




/* Dropdown button for feedbacks */

.feedback i {
  font-size: 4vh;
}







/*----------*\
*
*   IMAGES
*
\*----------*/

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



.img-for-mobile {
  width: 50%;
  height: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}



@media (min-width: 1200px) {
  .img-for-mobile {
    display: none;
  }
}



.closing {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 30vh;
  border: 5px solid #ffffff;
}



@media (min-width: 1200px) {
  .closing {
    width: 70%;
    height: 35vh;
  }
}




/*==== Border for first image ====*/

.border-for-img1 {
  width: 35%;
  height: 55vh;
  padding: 1rem;
  border: 3px solid #453428;
}


@media (max-width: 1024px) {
  .border-for-img1 {
    width: 100%;
    height: 45vh;
    order: 2;
  }
}



.border-for-img2 {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 3px solid #453428;
}





/*==== Slideshow gallery image styles ====*/

.slide {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: none;
}


@media(max-width: 1024px) {
  .slide {
    height: 40vh;
  }
}




/*==== Logo ====*/

.logo {
  width: 35vh;
  height: 35vh;
  align-self:center;
}



@media (max-width: 1024px) {
  .logo {
    margin-bottom: 7vh;
  }
}





/*-----------*\
*
*  COMPONENTS
*
\*-----------*/


/*==== 1. Buttons for the slideshow gallery ====*/

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  margin-left: .3rem;
  margin-right: .3rem;
  padding: .5rem;
  color: #dfdfdf;
  font-size: 4vh;
  border-radius: 10px;
  vertical-align: middle;
}


.next {
  right: 0;
}



.prev:hover, .next:hover {
  background-color: rgba(198, 183, 167, 0.8);
}





/*==== 2. Navigation dot styles ====*/

.navigation-dots {
  text-align: center;
}



.dot {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 10vh;
  padding: .5rem;
  background-color: #C6B7A7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #453428;
}





/*==== 3. Img switch animation ====*/

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/*==== 4. Toggle feedback animation ====*/

.fade-in {
animation: fadeIn ease 5s;
}

@keyframes fadeIn {
from {opacity: .3}
to {opacity: 1}
}





/*==== 5. Feedback scrollbar ====*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C6B7A7; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #453428; 
}





/*==== 6. Scroll to TOP button ====*/

.top-link {
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: all .5s ease-in-out;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  background-color: #453428;
  opacity: .8;
}



.top-link i {
  font-size: 3vh;
  text-decoration: none;
  color: #C6B7A7;
  padding: 2vh;
}



.top-link:hover {
  opacity: 1;
}



/* Classes for JS */

.show {
  visibility: visible;
  opacity: .8;
}

.hide {
  visibility: hidden;
  opacity: 0;
}